
.eadr {
  &__mail:hover,
  &__mail:focus,
  &__tel:hover,
  &__tel:focus {
    color: var(--touch-color);
    cursor: pointer;
  }

  &__mail:hover &__ico,
  &__mail:focus &__ico,
  &__tel:hover &__ico,
  &__tel:focus &__ico {
    fill: var(--touch-color);
    cursor: pointer;
  }
}

@media screen and (max-width: $tablet - 1px) {
  .eadr {
    display: flex;
    padding: 0;
    justify-content: flex-end;
    justify-content: start;
    flex-direction: column-reverse;

    &__mail,
    &__tel {
      font-weight: 500;
      letter-spacing: 0.02em;
      justify-content: start;
      margin-left: 0;
    }
    &__mail{
      font-size: 24px;
      line-height: 1.167;
      margin-top: 32px;
      color: var(--regular-color);
    }
    &__tel {
      font-size: 34px;
      line-height: 1.176;
      color: var(--touch-color);
    }

    &__ico {
      display: none;
    }
  }
}

@media screen and (min-width: $tablet) {
  .eadr {
    align-items: center;
    margin-right: 0;
    padding: 0;

    &__mail,
    &__tel {
      padding: 0;
      // display: flex;
      align-items: center;
      // margin-left: 50px;
      color: var(--regular-color);
    }
    &__ico {
      fill: var(--regular-color);
      margin-right: 10px;
    }
  }
}
@media screen and (min-width: $desktop) {
  .eadr {
    align-items: center;
    margin-right: 0;
    padding: 0;

    &__mail,
    &__tel {
      padding: 0;
      display: flex;
      align-items: center;
      margin-left: 50px;
      color: var(--regular-color);
    }
    &__ico {
      fill: var(--regular-color);
      margin-right: 10px;
    }
  }
}