.header {
  margin-top: 0px;
  border-bottom: 1px solid var(--border-color);
  padding: 24px 0 25px;
  & .container {
    flex-direction: row;
    display: flex;
  }
}

@media screen and (max-width: $tablet - 1px) {
  .header {
    padding: 16px 0;
    & .nav {
      display: none;
    }
    & .eadr {
      display: none;
    }    
  }
}