.customers {
  padding: 120px 0 96px;

  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__icon {
    fill: var(--ico-custom-color);
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--ico-regular-color);
    box-sizing: border-box;
    border-radius: 4px;

    &:hover,
    &:focus {
      border: 1px solid var(--ico-accent-color);
    }

    &:hover .customers__icon,
    &:focus .customers__icon {
      fill: var(--ico-accent-color);
    }
  }
}