.eadr {
  display: flex;
  padding: 0;
  justify-content: flex-end;

  &__mail,
  &__tel {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 50px;
    color: var(--regular-color);
  }

&__ico {
    fill: var(--regular-color);
    margin-right: 10px;
  }

  &__mail:hover,
  &__mail:focus,
  &__tel:hover,
  &__tel:focus {
    color: var(--touch-color);
    cursor: pointer;
  }

  &__mail:hover &__ico,
  &__mail:focus &__ico,
  &__tel:hover &__ico,
  &__tel:focus &__ico {
    fill: var(--touch-color);
    cursor: pointer;
  }
}