.features {
  /*  */

  &__title {
    font-size: 0px;
    margin-bottom: 0;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--regular-color);
  }

  &__card {
    display: flex;
    flex-flow: column;
    width: 270px;
  }

  &__icon-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: var(--background-ico-ftrs-color);
    border-radius: 4px;
  }

  &__icon {
    height: 70px;
    width: 70px;
    fill: var(--ico-title-color);
  }

  &__text {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    margin-top: 10px;
  }
}