.footer {
  background-color: var(--background-footer-color);
  background-position: 50% 50%;
  color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;

  &__list {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
  }

  &__adr {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
  }

  &__adr .logo {
      color: var(--logo-light-color);
  }

  &__address {
    width: 231px;
    margin-top: 20px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
  }

  &__eaddress {
    display: flex;
    flex-direction: column;
  }

  &__mail,
  &__tel {
    margin-top: 9px;
    height: 21px;
    color: var(--footer-eadr-color);
  }

  &__mail:hover,
  &__tel:hover,
  &__mail:focus,
  &__tel:focus {
    color: var(--touch-color);
    cursor: pointer;
  }

  &__text {
    text-transform: uppercase;
    color: var(--footer-color);
    margin-bottom: 20px;
  }
}